body{
    font-family:Arial, Helvetica, sans-serif;
}

.outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

h2{
    display: flex;
    justify-content: center;
    margin: 40px 0px 40px 0px;
}

p{
    font-size: 20px;
}

.titleCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 60px 0px;
}

.subtext{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.etch-a-sketch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 80px 0px 80px;
    gap: 100px;
}

.options{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
}

.options-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input{
    height: 30px;
    width: 50px;
    font-size: 20px;
    margin-left: -10px;
}

button{
    margin: 0px 80px 0px 80px;
    padding: 10px;
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.column-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-div{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(139, 139, 139);
    margin: 0px 0px -1px -1px;
}

.row-div:hover{
    background-color: rgb(191, 214, 221);
}